MONGO_URL="mongodb+srv://pupygreen_db_user:b2YRIzdCzKfplBA0@cluster0.ysrpnib.mongodb.net/?appName=Cluster0"
# Banco local para desenvolvimento
#MONGO_URL="mongodb://localhost:27017"
DB_NAME="lg_industrial"
CORS_ORIGINS="*"
FRONTEND_URL="https://lg-industrial.netlify.app/"
JWT_SECRET="gere-com-openssl-rand-hex-32"
ADMIN_EMAIL="admin@lgindustrial.com.br"
ADMIN_PASSWORD="lgindustrial123"
EMERGENT_EMAIL_KEY="sua-chave-de-email-emergent"
EMAIL_FROM_NAME="LG Industrial"
EMAIL_REPLY_TO="pupygreen@gmail.com"
OWNER_EMAIL="pupygreen@gmail.com"
